@import url('https://fonts.googleapis.com/css?family=Rochester|Bree+Serif');

:root {
    --menuWidth: 630px;
}

body {
    margin: 0;
}

.fullPage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: fixed;
    font-size: 80px;
    top: 3vh;
    right: 3vw;
    cursor: pointer;
    user-select: none;
    transform: rotate(0);
    transform-origin: center;
    text-align: center;
    z-index: 300;
}

#darkenScreen {
    background: black;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    z-index: 200;
    /*pointer-events: none;*/
}

#hamburger {
    display: block;
    opacity: 1;
    padding: 5px 5px 15px 5px;
}

#closeHamburger {
    display: block;
    opacity: 0;
    pointer-events: none;
    padding: 18px 19px 18px 19px;
}

#mainMenu {
    position: fixed;
    z-index: 250;
    top: 0;
    width: var(--menuWidth);
    height: 100vh;
    right: calc(var(--menuWidth) * -1);
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    font-size: x-large;
    overflow: scroll;
    font-family: 'Bree Serif', serif;
    color: black;
}

.menuItem {
    padding: 0 30px;
    cursor: pointer;
}

.menuItem:hover {
    animation: whiten 500ms ease-out 0s forwards;
}

.showcaseLinks {
    list-style: none;
}